[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=unity_animation_creator
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=unity_animation_creator
Comment=Assists in Creating Frames for Unity 2D Animations.
